html, body {
	position: relative;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--primary-bg);
	color: var(--primary-color);
	transition: background-color 0.5s, color 0.5s;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#container a, #container p, #container span {
	color: var(--primary-color) !important;
	transition: color 0.5s;
}

:root {
	--primary-color: #000;
	--primary-bg: #fff;
	--secondary-bg: 249, 249, 249;
}

[data-theme="dark"] {
	--primary-color: #e9e9e9;
	--primary-bg: #032038;
    --secondary-bg: 7, 37, 62;
}

[data-theme="warm"] {
	--primary-color: #000;
	--primary-bg: #f6e4bd;
    --secondary-bg: 251, 238, 210;
}

[data-theme="black"] {
	--primary-color: #e9e9e9;
	--primary-bg: #000;
    --secondary-bg: 28, 32, 34;
}