html, body {
	position: relative;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--primary-bg);
	color: var(--primary-color);
	transition: background-color 0.5s, color 0.5s;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


:root {
	--primary-color: black;
	--primary-bg: #fff;
	--secondary-bg: #f9f9f9;
}

[data-theme="dark"] {
	--primary-color: #bfc2c7;
	--primary-bg: #1d3040;
    --secondary-bg: #274256;
}

[data-theme="warm"] {
	--primary-color: #000;
	--primary-bg: #f3dba6;
    --secondary-bg: #958563;
}